#myLabel {
  font-size: 65;
  font-family: System-Bold;
  text-length: 30;
  x: 5%;
  y: 30%;
  fill: black;
}

#date {
  font-size: 35;
  font-family: System-Bold;
  text-length: 30;
  x: 5%;
  y: 40%;
  fill: black;
}


#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#chara {
  cursor: pointer; /* Makes it clear the element is clickable */
  pointer-events: all; /* Ensures the element can receive pointer events */
}
